extends ../ProtoBase 

append content
  .container.my-2
    nav(aria-label='breadcrumb')
      ol.breadcrumb
        li.breadcrumb-item.active(aria-current="page") Fragment #{fragment_number}
        li.breadcrumb-item  Block
        li.breadcrumb-item Unit

  .container
    ul
      each block in blocks
        li
          a(href=block.block.url) #{block.hundred} #{block.street} (#{block.odd_even})

        
