extends ../ProtoBase

append content
  .container.text-center
    h2 #{block_ref.hundred} #{block_ref.street}
    h5= block_ref.odd_even
  .container 
    ul.list-group
      each unit in block_ref.block.units
        - var subunitTargetClass = `subunit-${unit.number}`
        - var classes = "list-group-item list-group-item-action align-items-center d-flex justify-content-between"
        if unit.isdonotcall
          - classes = classes + " list-group-item-danger"
        else if unit.iscalledon
          - classes = classes + " list-group-item-warning"
        else if unit.visits.length
          - classes = classes + " list-group-item-success"
        
        li(class=classes, data-toggle=(unit.subunits.length ? 'collapse' : ''), data-target=(unit.subunits.length ? `.${subunitTargetClass}` : ''))
          if unit.subunits.length
            span= unit.number
          
          else  
            
            a(href=unit.url)= unit.number
            
          each tag in unit.tags
            span.badge.badge-primary.badge-pill= tag
        
        if unit.subunits.length
          each subunit in unit.subunits
            - var classes = `${subunitTargetClass} collapse list-group-item list-group-item-action`
            if unit.isdonotcall
              - classes = classes + " list-group-item-danger"
            else if unit.iscalledon
              - classes = classes + " list-group-item-warning"
            else if unit.visits.length
              - classes = classes + " list-group-item-success"
            
            li(class=classes)
              a(href="#")= subunit.name
              each tag in unit.tags
                span.badge.badge-primary.badge-pill= tag
            
      
