.container.my-2
  nav(aria-label='breadcrumb')
    ol.breadcrumb
      
      li.breadcrumb-item
                    
        a(href=breadcrumbs.fragment.overview_url) Fragment ##{breadcrumbs.fragment.number}
          
      li.breadcrumb-item  
        if breadcrumbs.block
          
          a(href=breadcrumbs.block.overview_url) #{breadcrumbs.block.hundred} #{breadcrumbs.block.street} #{breadcrumbs.block.side}
          
        else 
          
          a Block 
          
      li.breadcrumb-item 
        
        if breadcrumbs.unit 
        
          
          if breadcrumbs.unit.subunit
          
            a(href=breadcrumbs.unit.subunit.overview_url) #{breadcrumbs.unit.number} &#62; #{breadcrumbs.unit.subunit.name}
          
          else
            
            a(href=breadcrumbs.unit.overview_url)= breadcrumbs.unit.number
  
        else 
          
          a Unit
