extends ../ProtoBase

append content
  .container
    h3 Fragment ##{fragment_number}
    .row.text-center
      include ../inc/TerritoryBreadcrumb
      
    .row.my-2
      each props, street in streets
        .col-sm
          .card
            .card-header= street
            ul.list-group.list-group-flush
              each v, i in props.blocks
                li.list-group-item.list-group-item-action.align-items-center.d-flex.justify-content-between
                  a(href=v.overview_url) #{v.hundred} #{v.odd_even}
                  each tag in v.tags
                      span.badge.badge-primary.badge-pill= tag
