extends ../ProtoBase

append content
  .container.my-2
    nav(aria-label='breadcrumb')
      ol.breadcrumb
        li.breadcrumb-item Fragment #{render_vars.fragment.number}
        li.breadcrumb-item #{render_vars.block.hundred} #{render_vars.block.street}
        if subunit
        
          li.breadcrumb-item #{render_vars.unit.number} &#62; #{render_vars.subunit.name}
        
        else
          
          li.breadcrumb-item= render_vars.unit.number
          
  .container
    .row.flex-column.text-center
      h1 #{number} #{street}
      if subunit
        h5= name
      else
        
        h6
          i= name
        
    .row.align-items-center.d-flex.flex-column
      a(href= householder_contacted_url).btn.btn-primary.btn-lg.mb-2 householder contacted
      <button class="nav-item dropdown btn btn-secondary btn-sm" data-toggle="dropdown"> options
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="font-size: 62.5%">
          <a class="dropdown-item" href="#">add tag</a>
          <a class="dropdown-item" href="#">add note</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">mark as do not call</a>
          <a class="dropdown-item" href="#">this unit is currently being visited</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">not interested</a>
          <a class="dropdown-item" href="#">busy, call again</a>
        </div>
      </button>
      ul.list-group.list-group-horizontal
        each tag in tags
          li.list-group-item= tag
    .row
      h4 householders
      
    .row
      each householder in householders
        .card.mr-sm-2
          .card-header= householder.name
          .card-body 
            p 
              small= householder.gender
            if householder.email
              p 
                small 
                  a(href=householder.email)= householder.email
            if householder.phone_number
              p 
                small= householder.phone_number
      else 
        
        p 
          small No householders found

    
    .row
      h4 visits
    .row
      
      each visit in visits
        .card.mb-2
          .card-header= visit.contacted_by
          .card-body
            .card-text
              p 
                small Contacted: #{visit.householders_contacted}
              p= visit.details
          .card-footer.text-muted= moment(visit.timestamp).format('MMMM DD, YYYY \\at hh:mm a')
      else 
        
        p 
          small No visits found
            
            
              
        
        
