extends ../ProtoBase

append scripts
  script(type="text/javascript").
    var unitOptions = !{JSON.stringify(unitOptions)};
  script(src=constants.assets_url + '/js/dist/territory-unitoverview.bundle.js' type="text/javascript")

append content
  .bootstrap-modals
    include ../inc/BootstrapModals.pug
    //- add tag modal
    .modal#add-tag-modal
      .modal-dialog(role="document")
        .modal-content
          .modal-header
            h5 Add tag
          .modal-body
            form
              .form-errors#add-tag-errors
              .form-group
                label new tag
                input#add-tag-input(type="text" name="tag").form-control
          .modal-footer
            button.btn.btn-secondary(data-dismiss="modal") close
            button.btn.btn-primary#add-tag-submit-btn add
            
    //- add note modal
    .modal#add-note-modal
      .modal-dialog(role="document")
        .modal-content
          .modal-header
            h5 New note
          .modal-body
            form
              .form-errors#add-note-errors
              .form-group
                label note
                textarea(type="text", name="note").form-control#add-note-input
              .form-group
                label by
                input(type="text", name="note", value=`${user.first_name} ${user.last_name}`).form-control#add-note-by
          .modal-footer
            button.btn.btn-secondary(data-dismiss="modal") close
            button.btn.btn-primary#add-note-submit-btn save
    
  
  .container.my-2
    nav(aria-label='breadcrumb')
      ol.breadcrumb
        li.breadcrumb-item Fragment #{render_vars.fragment.number}
        li.breadcrumb-item #{render_vars.block.hundred} #{render_vars.block.street}
        if subunit
        
          li.breadcrumb-item #{render_vars.unit.number} &#62; #{render_vars.subunit.name}
        
        else
          
          li.breadcrumb-item= render_vars.unit.number
          
  .container
    .row.flex-column.text-center
      if isdonotcall
        .alert.alert-danger(role="alert") this unit is a do not call
      else if calledon
        .alert.alert-warning(role="alert") this unit is currently being called on
            
      h1 #{number} #{street}
      if subunit
        h5= name
      else
        
        h6
          i= name
        
    .row.align-items-center.d-flex.flex-column
      a(href= householder_contacted_url).btn.btn-primary.btn-lg.mb-2 householder contacted
      button.nav-item.dropdown.btn.btn-secondary.btn-sm(data-toggle='dropdown') options
        .dropdown-menu(aria-labelledby='navbarDropdown', style='font-size: 62.5%')
          each option in options 
            a.dropdown-item(id=option.id)= option.title
      h6.my-2 tags
      ul.list-group.list-group-horizontal.unit-tags
        each tag in tags
          li.list-group-item= tag
        
        else 
          p No tags
  
  hr
  .container          
    .row
      h4 householders
      
    .row
      each householder in householders
        .card.mr-sm-2
          .card-header= householder.name
          .card-body 
            p 
              small= householder.gender
            if householder.email
              p 
                small 
                  a(href=householder.email)= householder.email
            if householder.phone_number
              p 
                small= householder.phone_number
      else 
        
        p 
          small No householders found

    hr
    .row
      h4 visits
    
    .row
      each visit in visits
        .card.my-3
          .card-header= visit.contacted_by
          .card-body
            .card-text
              p 
                small Contacted: #{visit.householders_contacted}
              p= visit.details
          .card-footer.text-muted= moment(visit.timestamp).format('MMMM DD, YYYY \\at hh:mm a')
      else 
        
        p 
          small No visits found
    
    hr
    .row
      h4 notes
    .row  
      each note in notes
        .card.my-3.mx-1
          .card-header= note.by
          .card-body
            .card-text
              p= note.note
          .card-footer.text-muted= moment(note.timestamp).format('MMMM DD, YYYY \\at hh:mm a')
      else 
        
        p 
          small No notes
    
        
            
            
              
        
        
