extends ../ProtoBase

append stylesheets
  link(rel="stylesheet" href="https://unpkg.com/js-datepicker/dist/datepicker.min.css")
  link(rel="stylesheet" href=constants.assets_url + '/css/src/vendor/jquery.timepicker.css')

append content
  .bootstrap-modals
    //- new householder modal
    .modal#new-householder-modal
      .modal-dialog(role="document")
        .modal-content
          .modal-header
            h5 Add new householder
          .modal-body
            form#new-householder-form
              #new-householder-form-errors
              .form-group
                label name
                input(type="text", name="householder.name").form-control
              .form-group
                label email
                input(type="text", name="householder.email").form-control
              .form-group
                label phone number
                input(type="text", name="householder.phone_number").form-control
              .form-group
                label gender
                .input-group
                  .btn-group.btn-group-toggle(data-toggle="buttons")
                    label.btn.btn-secondary male
                      input(type="radio" name="householder.gender" value="male") 
                    label.btn.btn-secondary female
                      input(type="radio" name="householder.gender" value="female")
          .modal-footer
            button.btn.btn-secondary(data-dismiss="modal") close
            button.btn.btn-primary#save-new-householder save
  
  .container.my-2
    nav(aria-label='breadcrumb')
      ol.breadcrumb
        li.breadcrumb-item Fragment #{render_vars.fragment.number}
        li.breadcrumb-item #{render_vars.block.hundred} #{render_vars.block.street}
        if subunit
        
          li.breadcrumb-item #{render_vars.unit.number} &#62; #{render_vars.subunit.name}
        
        else
          
          li.breadcrumb-item= render_vars.unit.number
          
  .container
    form#add-visit-form
      
      #visit-form-errors
      
      .form-group
        h4.my-0 contacted
        small.text-muted who did you speak to?
        .btn-group-toggle(data-toggle="buttons")#householder-options
          each householder, index in householders
            - var id = `hh-${index}`
            label(for=id).btn.btn-secondary.m-1= householder.name
              input(type="checkbox" id=id value=householder.name name="householders.contacted[]")
          button.btn.btn-info.m-1#new-householder-button new householder
      
      hr
      
      .form-group
        h4.my-0 contacted by
        small.text-muted who spoke to them?
        
        .input-group
          input(type="text" placeholder="Brother Zealous" name="publisher.name").form-control
        .input-group
          small.text-muted will this publisher now be consistently returning on this unit?
          .input-group
            .btn-group.btn-group-toggle(data-toggle="buttons")
              label.btn.btn-secondary no
                input(type="radio" name="publisher.returning" value="no") 
              label.btn.btn-secondary yes
                input(type="radio" name="publisher.returning" value="yes") 
          
      hr
      
      .form-group
        h4 visit details
        .input-group
          small.text-muted provide specific details about the conversation
          small.text-muted topic of discussion, bible scriptures, level of interest
        textarea(name="visit.details").form-control
        .input-group
          p.text-muted.w-100.my-2 date and time
          .form-row
            .col
              input(type="text", name="visit.date")#visit-date-picker
            .col
              p.text-muted at
            .col
              input(type="text", name="visit.time")#visit-time-picker

      
      button.btn.btn-primary(type="button" id="visit-form-submit") save visit
      
  
  .row.my-3
        
  
    
  
prepend scripts
  script.
    window.rajax_visit_url= "#{rajax_add_visit_url}"
    window.rajax_householder_url = "#{rajax_add_householder_url}"
    window.unit_overview_url= "#{unit_overview_url}"

append scripts
  script(src="https://unpkg.com/js-datepicker")
  script(src=constants.assets_url + '/js/dist/territory-householdercontacted.bundle.js', type="text/javascript")
