block GLOBAL_PUG
  - var page_name = "";
  //- var body_classes = [];
  //- var scripts = [];

//- add page_name to class name and scripts if it doesnt exists already
- if(!body_classes) var body_classes = [];
//- if(!scripts) var scripts = [];
- if(page_name !== "" && body_classes.indexOf(page_name) === -1) body_classes.unshift(page_name)
//- if(scripts && scripts.indexOf(page_name) === -1) scripts.unshift(page_name)

include Mixins.pug

doctype html
html
  head
    title= page_title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    // STYLESHEETS
    block stylesheets
      link(href=constants.base_url + "/assets/css/dist/paulandbarnabas.css", rel="stylesheet", type="text/css")

  body(class=body_classes, data-page-name=page_name)
    .wrapper
      block content
    
    // SCRIPTS 
    block scripts
      //- form2js.js
      script(src=constants.base_url + "/assets/js/vendor/form2js.js", type="text/javascript")      
        
