block GLOBAL_PUG
  - var page_name = "";
  //- var body_classes = [];
  //- var scripts = [];

//- add page_name to class name and scripts if it doesnt exists already
- if(!body_classes) var body_classes = [];
//- if(!scripts) var scripts = [];
- if(page_name !== "" && body_classes.indexOf(page_name) === -1) body_classes.unshift(page_name)
//- if(scripts && scripts.indexOf(page_name) === -1) scripts.unshift(page_name)

include Mixins.pug

doctype html
html
  head
    // Global site tag (gtag.js) - Google Analytics
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-150394645-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-150394645-1');
    </script>
    
    title= page_title
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content=constants.site_description)
      
    // STYLESHEETS
    block stylesheets
      link(href=constants.base_url + "/css/dist/paulandbarnabas.css", rel="stylesheet", type="text/css")

  body(class=body_classes, data-page-name=page_name)
    .wrapper
      block content
        
    .modal-overlay#modal-overlay
      block modals
          +modal('page-error-modal')
            p Sorry, something went wrong. The developer has been made aware, please try again later.
            .button-row.mini
              button(data-action="close") okay
          +modal('request-error-modal')
            p Sorry, there was an error submitting your request. Please check your internet connection, and try again.
            .button-row.mini
              button(data-action="close") okay
        
        
    
    #templates
      block templates
    // SCRIPTS 
    prepend scripts
      script(type="text/javascript").
        window.localized = !{localize ? JSON.stringify(localize) : JSON.stringify({})}
        
    block scripts
      //- Constants
      script(src=constants.base_url + "/js/dist/localize-constants.bundle.js", type="text/javascript")
      //- form2js.js
      //- script(src=constants.base_urzl + "/assets/js/vendor/form2js.js", type="text/javascript")      
        
