doctype html
html
  head
    title= page_title
    // STYLESHEETS
    block stylesheets
  body
    .wrapper
      block content
    
    // SCRIPTS 
    block scripts
      //- JQuery
      script(src="https://code.jquery.com/jquery-3.3.1.min.js", 
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=", 
      crossorigin="anonymous")
      //- form2js.js
      script(src=config.base_url + "/assets/js/vendor/form2js.js", type="text/javascript")
      //- Utils
      script(src=config.base_url + "/assets/js/utils.js", type="text/javascript")
      //- Ajax Forms
      script(src=config.base_url + "/assets/js/ajaxform.js", type="text/javascript")
      
        
