extends ProtoBase.pug

append content
  .container-fluid
    p #{user.first_name} #{user.last_name}
    p= user.email
    .row.mt-md-2
      each val in fragments 
        .col-sm
          .card
            .card-header 
              h5 Fragment ##{val.number}
              p.card-text.text-muted 
                small assigned on #{moment(val.assigned_on).format('MMMM D, YYYY')}
              a.btn.btn-primary(href=val.overview_url) view
            ul.list-group.list-group-flush
              li.list-group-item #{val.block_count} blocks
              li.list-group-item #{val.unit_count} units   
      
      else 
        
        .container
          .row.text-center
            small No assigned fragments


  
  
