extends ProtoBase.pug

append content
  .container-fluid
    .card.border-primary.mb-3.stat-card
      .card-header #{user.first_name} #{user.last_name}
        if user.isAdmin
          span (admin)
      .card-body
        p.my-1 #{congregation_name} Congregation
        
        if !user.isAdmin
          p.my-1 Admin: 
            p.my-0 #{admin.first_name} #{admin.last_name}
            p.my-0
              a(href="mailto:" + admin.email)= admin.email
            p.my-0 
              a(href="tel:" + admin.phone_number)= admin.phone_number
              
        p.my-0 Stats:
          small #{dashboard_stats.fragment_count} Fragments | #{dashboard_stats.unit_count} Units
        
    
    .row.mt-md-2.pb-3
      each val in fragments 
        .col-sm
          .card.my-2
            .card-header 
              h5 Fragment ##{val.number}
              p.card-text.text-muted 
                small assigned on #{moment(val.assigned_on).format('MMMM D, YYYY')}
              a.btn.btn-primary(href=val.overview_url) view
            ul.list-group.list-group-flush
              li.list-group-item #{val.block_count} blocks
              li.list-group-item #{val.unit_count} units   
      
      else 
        
        .container
          .row.text-center
            small Your admin has not yet assigned you any fragments 


  
  
