//- To be used on all Admin Panel Pages
extends ../Base.pug

block GLOBAL_PUG
  - var body_classes = ['adminpanel'];

block content
  .page-header
    .inner
      img(src=constants.base_url + "/images/logos/logo_white_30x25.png", 
        title="Admin panel", 
        alt="Paul and Barnabas Admin Panel")
      h1 admin panel
  .content
    .sidebar
      .inner
        .profile
          .picture
            img(src=constants.base_url + "/images/default-profile-picture.png")
          .name-and-title
            p #{user.first_name} #{user.last_name}
        .menu
          a.item(href=constants.base_url + "/adminpanel/createterritory") create territory
          a.item(href=constants.base_url + "/adminpanel/createfragment") create territory fragment
          a.item(href="") edit territory fragments
          a.item(href=constants.base_url + "/adminpanel/managepublishers") manage publishers
    .panel
      .wrapper
        block panel
